.btn {
    display: inline-block;
    font-size: 14px;
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: .5px;
    padding: .75rem 2rem;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .35s ease;
}
  .btn-main-2 {
    background: #e12454;
    color: #fff;
    border-color: #e12454;
}
  
.btn-main-2:hover {
    background: #223a66;
    color: #fff;
    border-color: #223a66;
}